.header {
    width: 100%;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 30px;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}
